<H1>Component Talks</H1>
{{title}}
<!-- TS method -->

<button (click) = 'showHide()'>Change values of child Component</button>
<fieldset>
  <legend>All child Component</legend>
  <app-child2></app-child2>
  <app-child2></app-child2>
  <app-child2></app-child2>
  <!-- since just adding app-child2 element doesnt have changes in values we need to create another instance of child2component and make it 2nd app-child2
  or we can use viewchildren method and then initialse every child 
  -->

</fieldset>